<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidexample">

    <!-- 🌐 Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Craftsy">


        <!-- 🛰 WebSocket Background Service -->
        <service
            android:name=".WebSocketNotificationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|dataSync" />

        <!-- 🚀 Login (Launcher) -->
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/Theme.Craftsy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroupFeedActivity"
            android:exported="false"
            android:theme ="@style/Theme.Craftsy"/>
        <activity
            android:name=".GroupActivity"
            android:exported="false"
            android:theme ="@style/Theme.Craftsy"/>
        <activity
            android:name=".CreateGroupActivity"
            android:exported="false"
            android:theme ="@style/Theme.Craftsy"/>
        <activity
            android:name=".CreateGroupPostActivity"
            android:exported="false"
            android:theme ="@style/Theme.Craftsy"/>
        <activity android:name=".GroupDetailsActivity"
            android:exported="false"
            android:theme ="@style/Theme.Craftsy"/>
        <activity android:name=".AdminActivity"
            android:exported="false"
            android:theme ="@style/Theme.Craftsy"/>


        <!-- User Profile -->
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <!-- Search Activity -->
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <!-- Feed -->
        <activity
            android:name=".FeedActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".FeedCRUDActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".FeedDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <!-- Delete Account -->
        <activity
            android:name=".DeleteActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".EditPatternsActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />

        <!-- Signup -->
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".EventDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".EventFeedActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".CalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />

        <!-- Notification Center -->
        <activity
            android:name=".NotificationCenterActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".UserPostsDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />

        <!-- Other User Profile -->
        <activity
            android:name=".OutsideUserProfile"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />

        <activity android:name=".TutorialDetailActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".TutorialUploadActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".EditTutorialActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy"/>
        <activity android:name=".MessagingHomeActivity"
            android:exported="true"
            android:theme = "@style/Theme.Craftsy"/>
        <activity android:name=".DirectMessagingActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy"/>
        <activity android:name=".NewChatActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy"/>
        <activity android:name=".CommentsActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy"/>
        <activity android:name=".PointsCenterActivity" />



        <activity
            android:name=".PatternDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" >
        </activity>
        <activity
            android:name=".CreateReviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />
        <activity
            android:name=".CreatePatternActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" />

        <!-- Patterns Activity -->
        <activity
            android:name=".PatternActivity"
            android:exported="false"
            android:theme="@style/Theme.Craftsy" >


        </activity>



    </application>

</manifest>